<div class="container py-5">
  <div class="row py-5 ">
    <div class="p-3 col-11 mx-auto tab-header d-flex align-item-center justify-content-between">
      <h3>User Roles</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRoleModal">
        <i class="fa-solid fa-plus"></i> Register New Company
      </button>
    </div>
    <div class="p-3 col-11 mx-auto page-body">
      <div class="row p-0">
        <div class="col-4 ms-auto">
          <div class="input-group mb-3 ">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control" placeholder="search user here">
          </div>
        </div>
      </div>
      <div class="row p-0">
        <table class="table text-center table-striped">
          <thead class="bg-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Company Name</th>
              <th scope="col">Employess Count</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="companies_table">
            <% if !@companies.blank? %>
              <% for company in @companies %>
                <tr>
                  <td class="col"><%= company.id %></td>
                  <td class="col"><%= company.name %></td>
                  <td class="col">
                    <%= company.users.count %>
                  </td>
                  <td class="col">
                    <%= link_to "Delete",company_path(company),method: :delete,class:'btn btn-danger'  %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('#companies').addClass('active');
</script>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal  fade" id="addRoleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRoleModalLabel">Add New Company</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for(Company.new,remote: true)  do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label"> Company Name </label>
            <%= f.text_field :name,class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit 'Add Company',class:'btn btn-success' %>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>
