<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8da5cd2ad2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/admin/navbar' %>
        <div class="col-2 sidebar bg-white">
          <%= render 'shared/admin/sidebar' %>
        </div>
        <div class="col-10 px-3 dashboard-body">
          <%= render 'shared/alerts' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
